@font-face{
	font-family: 'Pretendard';
	src:url('../font/PretendardVariable.woff2') format('woff2'),
	    url('../font/PretendardVariable.woff2') format('truetype');
}
html{font-size:10px;}
body{
	font-family: 'Pretendard';
	margin:0px;
	padding:0px;
	background: -moz-linear-gradient(180deg, #F3B368 0%, rgba(155, 154, 153, 0.35) 66.82%, rgba(255, 255, 255, 0.39) 105.16%);
	background: -o-linear-gradient(180deg, #F3B368 0%, rgba(155, 154, 153, 0.35) 66.82%, rgba(255, 255, 255, 0.39) 105.16%);
	background: -webkit-linear-gradient(240deg, #F3B368 0%, rgba(155, 154, 153, 0.35) 66.82%, rgba(255, 255, 255, 0.39) 105.16%);
	background: linear-gradient(180deg, #F3B368 0%, rgba(155, 154, 153, 0.35) 66.82%, rgba(255, 255, 255, 0.39) 105.16%); 
	width: 100%;
	height: 6489px;
	margin:0px;
	padding:0px;
}
header{ 
	margin:0px 28px; 
}
header a{ 
	float:left; 
}
header h1{
	width: 180px;
	height: 80px;
	font-size: 0rem;
	background-image: url(../image/logo.png);
	background-size: 164px 82px;
	background-repeat: no-repeat;
	background-position: center;
}
header nav ul li{ 
	float:right; 
	list-style:none;
	text-align:center;
	border:3px solid white;
	border-radius:5px;
	margin:18px 9px;

}
header nav ul li a{  
	width:129px;
	height:44px;
	color: #FFFFFF;
	font-weight: bold;
	font-size: 1.8rem;
	text-decoration:none;
	color: white;
	line-height:2.4;
}
main{ 
	clear:both;
	padding:114px 88px;
}
main img{ 
	float:left;
	width: 45rem;
	height:70rem;
	padding: 0px 50px 0px 0px;
}
main .page_text_1{ 
	padding:380px 0px 0px 605px;
	font-weight: 600;
	font-size: 4.2rem;
	white-space:nowrap;
}
.page1 ul li{ 
	position:relative;
	left:88px;
	 line-height:2;
	 list-style:none;
	 float:left;
	 margin:2.5rem 0rem 0rem 2rem;
	 text-align:center;
	 width:17rem;
	 height:4.5rem;
	 background-color:black;
	 border-radius:0.5rem;
}
.page1 ul li a{ 
	display:block;
	text-decoration:none; 
	color:white;
	font-size:2.3rem;
}
.page1 .arrow_icon{ 
	width:100%;
	height:10rem;
	border:1px solid;
	text-align:center;
	clear:both;
}
.page1 .arrow_icon img{ 
	width:10rem;
	height:10rem;
}