@font-face{
	font-family: 'Pretendard';
	src:url('../font/PretendardVariable.woff2') format('woff2'),
	    url('../font/PretendardVariable.woff2') format('truetype');
}
body{
	font-family:'pretendard';
	font-size:2em;
	background-image: linear-gradient(180deg, #F3B368 0%, rgba(155, 154, 153, 0.35) 66.82%, rgba(255, 255, 255, 0.39) 105.16%);
	width: 98%;
	height: 6793px;
	position:relative;
}

.logo{

	width:102px;
	height:102px;
	margin-left:5%;
	margin-top:30px;
}