@font-face{
	font-family: 'Pretendard';
	src:url('../font/PretendardVariable.woff2') format('woff2'),
	    url('../font/PretendardVariable.woff2') format('truetype');
}
html{font-size:10px;}
body{
	font-family: 'Pretendard';
	margin:0px;
	padding:0px;
	background: -moz-linear-gradient(180deg, #F3B368 0%, rgba(155, 154, 153, 0.35) 66.82%, rgba(255, 255, 255, 0.39) 105.16%);
	background: -o-linear-gradient(180deg, #F3B368 0%, rgba(155, 154, 153, 0.35) 66.82%, rgba(255, 255, 255, 0.39) 105.16%);
	background: -webkit-linear-gradient(240deg, #F3B368 0%, rgba(155, 154, 153, 0.35) 66.82%, rgba(255, 255, 255, 0.39) 105.16%);
	background: linear-gradient(180deg, #F3B368 0%, rgba(155, 154, 153, 0.35) 66.82%, rgba(255, 255, 255, 0.39) 105.16%); 
	width: 100%;
	height: 6489px;
	margin:0px;
	padding:0px;
}
header{ 
	margin:0px 28px; 
}
header a{ 
	float:left; 
}
header h1{
	width: 180px;
	height: 80px;
	font-size: 0rem;
	background-image: url(../image/logo.png);
	background-size: 164px 82px;
	background-repeat: no-repeat;
	background-position: center;
}
header nav ul li{ 
	float:right; 
	list-style:none;
	text-align:center;
	border:3px solid white;
	border-radius:5px;
	margin:18px 9px;

}
header nav ul li a{  
	width:129px;
	height:44px;
	color: #FFFFFF;
	font-weight: bold;
	font-size: 1.8rem;
	text-decoration:none;
	color: white;
	line-height:2.4;
}
header nav ul li a:hover{ 
	color:red; 
}
main{ 
	clear:both;
	padding:114px 88px;
}
main .page1 .img_sample{ 
	float:left;
	width: 45rem;
	height:70rem;
	padding: 0px 50px 0px 0px;
}
main .page_text{ 
	font-weight: 600;
	font-size: 4.5rem;
	white-space:nowrap;
}
main .page1 .page_text{ 
	padding:380px 0px 0px 605px;
}
.page1 ul li{ 
	position:relative;
	left:88px;
	 line-height:2;
	 list-style:none;
	 float:left;
	 margin:2.5rem 0rem 0rem 2rem;
	 text-align:center;
	 width:17rem;
	 height:4.5rem;
	 background-color:black;
	 border-radius:0.5rem;
}

.page1 ul li a{ 
	display:block;
	text-decoration:none; 
	color:white;
	font-size:2.3rem;
}
.page1 ul li a:hover{ 
	color:red;
}
.page1 .arrow_icon{ 
	clear:both;
}
.page1 .arrow_icon img{ 
	width:5rem;
	height:4rem;
	margin:10rem 50rem 0px 50rem;
	padding:0px;
}
.page1 .arrow_icon img:hover{ 
cursor:pointer;
}
.page2{ 
	clear:both; 
	padding:10rem 0rem;
}
main .page2 .page_text{ 
	padding:27rem 0rem 0rem 4rem;
}
main .page2 .img_sample{ 
	width: 80%;
	height:70rem;
	margin: 0px 0px 0px 7%;
}
main .page2 ul li{ 
	display:inline;
	list-style:none; 
	margin:0px 4rem 0px 0px;
}
main .page2 ul li a{ 
	font-weight: bold;
	font-size:1.5rem;
	color:black;
	text-decoration:none; 
}
.page2{ 
	column-count:2;
	column-gap:32px;
	column-width:250px;
}
.sub_text{ 
	 font-weight: 600;
	font-size: 2.2rem;
	padding:1rem 0rem 0rem 4rem;
}